@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.menu {
  position: fixed; 
  top: 0px;
  left: 0px; /* Ajusta la posición según tu diseño */
  background-color: #ffffff;
  padding: 10px; 
  border-radius:0px 5px 5px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 800;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333333;
}
.menu a:hover {
  color: #ff0000;
}